// This code is based on: https://3dtransforms.desandro.com/box

$bomb-width: 500px;
$bomb-depth: calc($bomb-width / 3);
$bomb-height: calc($bomb-depth * 2);
$half-width: calc($bomb-width / 2);
$half-height: calc($bomb-height / 2);
$half-depth: calc($bomb-depth / 2);
$bomb-color: #1e1f1e;

.bomb-scene {
  width: $bomb-width;
  height: $bomb-height;
  margin: 0 80px;
  perspective: 400px;
}

.bomb {
  width: $bomb-width;
  height: $bomb-height;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(calc(-1 * $half-depth));
  transition: transform 1s;
}

.bomb__face {
  position: absolute;
  border: 1px solid $bomb-color;
  transform-origin: center;
  background-color: $bomb-color;
}

.bomb__face--front,
.bomb__face--back {
  width: $bomb-width;
  height: $bomb-height;
}

.bomb__face--right,
.bomb__face--left {
  width: $bomb-depth;
  height: $bomb-height;

  // the left and right sides are aligned at top 0, center the face before turning it on the Y-axis
  // to center it shift it left by the width of the face or the bombs depth
  left: $bomb-depth;
}

.bomb__face--top,
.bomb__face--bottom {
  width: $bomb-width;
  height: $bomb-depth;

  // the top and bottom sides are aligned at top 0, center the face before turning it on the X-axis
  // to center it shift it from the top down the height or in this case the bombs depth
  top: $half-depth;
}

.bomb__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bomb__modal-btn {
  position: absolute;
  top: 0;
}

// Before these transforms all the faces are shifted backwards on the Z-plane by half of the bombs depth
.bomb__face--front {
  transform: rotateY(0deg) translateZ($half-depth); // pull the face back out
}

.bomb__face--back {
  transform: rotateY(180deg) translateZ($half-depth); // after rotation you just have to push it forward
}

.bomb__face--right {
  transform: rotateY(90deg) translateZ($half-width);
}
.bomb__face--left {
  transform: rotateY(-90deg) translateZ($half-width);
}

.bomb__face--top {
  transform: rotateX(90deg) translateZ($half-height);
}
.bomb__face--bottom {
  transform: rotateX(-90deg) translateZ($half-height);
}

// Transitions to display a side
.bomb.show-front {
  transform: translateZ(calc(-1 * $half-depth)) rotateY(0deg);
}
.bomb.show-back {
  transform: translateZ(calc(-1 * $half-depth)) rotateY(-180deg);
}
.bomb.show-right {
  transform: translateZ(calc(-1 * $half-width)) rotateY(-90deg);
}
.bomb.show-left {
  transform: translateZ(calc(-1 * $half-width)) rotateY(90deg);
}
.bomb.show-top {
  transform: translateZ(calc(-1 * $half-height)) rotateX(-90deg);
}
.bomb.show-bottom {
  transform: translateZ(calc(-1 * $half-height)) rotateX(90deg);
}
