.homescreen {
  --padding-home: 20px;

  min-height: 100dvh;
  background: url('../../assets/lockscreen2.jpg') no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.homescreen__upper {
  padding: var(--padding-home);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.homescreen__info {
  display: flex;
  margin-left: auto;
}

.homescreen__lower {
  padding: var(--padding-home) 0;
}

.homescreen__apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  gap: 10px;
}

.homescreen__logo {
  width: 60px;
  height: auto;
}

.homescreen__search {
  background-color: #333333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  width: 90%;
  margin: 0 auto;
}

.search-logo {
  width: 40px;
}
