.toggle {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 column */

  color: #fafafa;
  gap: 1rem;
  border: 1px solid #333333;
  padding: 2rem;

  @media screen and (orientation: portrait) {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

.toggle__label {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
