// Shared battery styles for imports

$battery-width: 220px;
$battery-height: 100px;
$battery-body-gap: 5px;
$battery-body-padding: 8px;
$positive-width: 20px;
$positive-height: 50px;
$positive-border-radius: 5px;
$num-fills: 5;
