@import './_variables';

.battery {
  border: 1px solid #d0c5c5;
  height: $battery-height;
  width: $battery-width;
  background-color: #333333;
  border-radius: 10px;
  position: relative;
}

.battery__positive {
  position: absolute;
  width: $positive-width;
  height: $positive-height;
  right: calc(-1 * $positive-width);
  top: 50%;
  transform: translateY(-50%);
  background-color: #d0c5c5;
  border-top-right-radius: $positive-border-radius;
  border-bottom-right-radius: $positive-border-radius;
}

.battery__body {
  display: flex;
  gap: $battery-body-gap;
  padding: $battery-body-padding;
}

.battery__fill {
  height: calc($battery-height - ($battery-body-padding * 2));
  background-color: rgba(250, 250, 250, 1);
  width: calc($battery-width / $num-fills - $battery-body-gap);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fill--show {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fill--red {
  background-color: rgb(255, 0, 0);
  box-shadow: 0 0 15px 0 rgba(255, 0, 0, 0.9);
}

.fill--orange {
  background-color: rgb(255, 106, 0);
  box-shadow: 0 0 15px 0 rgba(255, 106, 0, 0.9);
}

.fill--yellow {
  background-color: rgb(255, 184, 0);
  box-shadow: 0 0 15px 0 rgba(255, 183, 0, 0.9);
}

.fill--lime {
  background-color: rgb(145, 232, 66);
  box-shadow: 0 0 15px 0 rgba(146, 232, 66, 0.9);
}

.fill--green {
  background-color: rgb(100, 201, 8);
  box-shadow: 0 0 15px 0 rgba(101, 201, 8, 0.9);
}

.battery--animate {
  animation: beat 1s infinite;
}

@keyframes beat {
  0% {
    box-shadow: 0 0 20px 5px rgba(45, 255, 196, 0.9);
  }
  50% {
    box-shadow: 0 0 20px 8px rgba(45, 255, 196, 0.9);
  }
  100% {
    box-shadow: 0 0 20px 5px rgba(45, 255, 196, 0.9);
  }
}
